AtlasDefinition(
    entries: {
        Land_GrassSharp_0: AtlasRect(x: 0, y: 0, w: 128, h: 128),
        Land_GrassSharp_1: AtlasRect(x: 128, y: 0, w: 128, h: 128),
        Land_GrassSharp_2: AtlasRect(x: 256, y: 0, w: 128, h: 128),
        Land_GrassSharp_3: AtlasRect(x: 384, y: 0, w: 128, h: 128),
        Land_GrassSharp_4: AtlasRect(x: 0, y: 128, w: 128, h: 128),
        Land_GrassSharp_5: AtlasRect(x: 128, y: 128, w: 128, h: 128),
        Land_GrassSharp_6: AtlasRect(x: 256, y: 128, w: 128, h: 128),
        Land_GrassSharp_7: AtlasRect(x: 384, y: 128, w: 128, h: 128),
        Land_GrassSharp_8: AtlasRect(x: 0, y: 256, w: 128, h: 128),
        Land_GrassSharp_9: AtlasRect(x: 128, y: 256, w: 128, h: 128),
        Land_GrassSharp_10: AtlasRect(x: 256, y: 256, w: 128, h: 128),
        Land_GrassSharp_11: AtlasRect(x: 384, y: 256, w: 128, h: 128),
        Land_GrassSharp_12: AtlasRect(x: 0, y: 384, w: 128, h: 128),
        Land_GrassSharp_13: AtlasRect(x: 128, y: 384, w: 128, h: 128),
        Land_GrassSharp_14: AtlasRect(x: 256, y: 384, w: 128, h: 128),
        Land_GrassSharp_15: AtlasRect(x: 384, y: 384, w: 128, h: 128),

        Land_GrassSharp_16: AtlasRect(x: 1024, y: 0, w: 128, h: 128),
        Land_GrassSharp_17: AtlasRect(x: 1152, y: 0, w: 128, h: 128),
        Land_GrassSharp_18: AtlasRect(x: 1280, y: 0, w: 128, h: 128),
        Land_GrassSharp_19: AtlasRect(x: 1408, y: 0, w: 128, h: 128),
        Land_GrassSharp_20: AtlasRect(x: 1024, y: 128, w: 128, h: 128),
        Land_GrassSharp_21: AtlasRect(x: 1152, y: 128, w: 128, h: 128),
        Land_GrassSharp_22: AtlasRect(x: 1280, y: 128, w: 128, h: 128),
        Land_GrassSharp_23: AtlasRect(x: 1408, y: 128, w: 128, h: 128),
        Land_GrassSharp_24: AtlasRect(x: 1024, y: 256, w: 128, h: 128),
        Land_GrassSharp_25: AtlasRect(x: 1152, y: 256, w: 128, h: 128),
        Land_GrassSharp_26: AtlasRect(x: 1280, y: 256, w: 128, h: 128),
        Land_GrassSharp_27: AtlasRect(x: 1408, y: 256, w: 128, h: 128),
        Land_GrassSharp_28: AtlasRect(x: 1024, y: 384, w: 128, h: 128),
        Land_GrassSharp_29: AtlasRect(x: 1152, y: 384, w: 128, h: 128),
        Land_GrassSharp_30: AtlasRect(x: 1280, y: 384, w: 128, h: 128),
        Land_GrassSharp_31: AtlasRect(x: 1408, y: 384, w: 128, h: 128),

        Land_GrassSharp_32: AtlasRect(x: 0, y: 1024, w: 128, h: 128),
        Land_GrassSharp_33: AtlasRect(x: 128, y: 1024, w: 128, h: 128),
        Land_GrassSharp_34: AtlasRect(x: 256, y: 1024, w: 128, h: 128),
        Land_GrassSharp_35: AtlasRect(x: 384, y: 1024, w: 128, h: 128),
        Land_GrassSharp_36: AtlasRect(x: 0, y: 1152, w: 128, h: 128),
        Land_GrassSharp_37: AtlasRect(x: 128, y: 1152, w: 128, h: 128),
        Land_GrassSharp_38: AtlasRect(x: 256, y: 1152, w: 128, h: 128),
        Land_GrassSharp_39: AtlasRect(x: 384, y: 1152, w: 128, h: 128),
        Land_GrassSharp_40: AtlasRect(x: 0, y: 1280, w: 128, h: 128),
        Land_GrassSharp_41: AtlasRect(x: 128, y: 1280, w: 128, h: 128),
        Land_GrassSharp_42: AtlasRect(x: 256, y: 1280, w: 128, h: 128),
        Land_GrassSharp_43: AtlasRect(x: 384, y: 1280, w: 128, h: 128),
        Land_GrassSharp_44: AtlasRect(x: 0, y: 1408, w: 128, h: 128),
        Land_GrassSharp_45: AtlasRect(x: 128, y: 1408, w: 128, h: 128),
        Land_GrassSharp_46: AtlasRect(x: 256, y: 1408, w: 128, h: 128),
        Land_GrassSharp_47: AtlasRect(x: 384, y: 1408, w: 128, h: 128),

        GrassRound_GrassSharp_0: AtlasRect(x: 512, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_1: AtlasRect(x: 640, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_2: AtlasRect(x: 768, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_3: AtlasRect(x: 896, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_4: AtlasRect(x: 512, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_5: AtlasRect(x: 640, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_6: AtlasRect(x: 768, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_7: AtlasRect(x: 896, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_8: AtlasRect(x: 512, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_9: AtlasRect(x: 640, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_10: AtlasRect(x: 768, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_11: AtlasRect(x: 896, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_12: AtlasRect(x: 512, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_13: AtlasRect(x: 640, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_14: AtlasRect(x: 768, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_15: AtlasRect(x: 896, y: 384, w: 128, h: 128),

        GrassRound_GrassSharp_16: AtlasRect(x: 1536, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_17: AtlasRect(x: 1664, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_18: AtlasRect(x: 1792, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_19: AtlasRect(x: 1920, y: 0, w: 128, h: 128),
        GrassRound_GrassSharp_20: AtlasRect(x: 1536, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_21: AtlasRect(x: 1664, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_22: AtlasRect(x: 1792, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_23: AtlasRect(x: 1920, y: 128, w: 128, h: 128),
        GrassRound_GrassSharp_24: AtlasRect(x: 1536, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_25: AtlasRect(x: 1664, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_26: AtlasRect(x: 1792, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_27: AtlasRect(x: 1920, y: 256, w: 128, h: 128),
        GrassRound_GrassSharp_28: AtlasRect(x: 1536, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_29: AtlasRect(x: 1664, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_30: AtlasRect(x: 1792, y: 384, w: 128, h: 128),
        GrassRound_GrassSharp_31: AtlasRect(x: 1920, y: 384, w: 128, h: 128),

        GrassRound_GrassSharp_32: AtlasRect(x: 512, y: 1024, w: 128, h: 128),
        GrassRound_GrassSharp_33: AtlasRect(x: 640, y: 1024, w: 128, h: 128),
        GrassRound_GrassSharp_34: AtlasRect(x: 768, y: 1024, w: 128, h: 128),
        GrassRound_GrassSharp_35: AtlasRect(x: 896, y: 1024, w: 128, h: 128),
        GrassRound_GrassSharp_36: AtlasRect(x: 512, y: 1152, w: 128, h: 128),
        GrassRound_GrassSharp_37: AtlasRect(x: 640, y: 1152, w: 128, h: 128),
        GrassRound_GrassSharp_38: AtlasRect(x: 768, y: 1152, w: 128, h: 128),
        GrassRound_GrassSharp_39: AtlasRect(x: 896, y: 1152, w: 128, h: 128),
        GrassRound_GrassSharp_40: AtlasRect(x: 512, y: 1280, w: 128, h: 128),
        GrassRound_GrassSharp_41: AtlasRect(x: 640, y: 1280, w: 128, h: 128),
        GrassRound_GrassSharp_42: AtlasRect(x: 768, y: 1280, w: 128, h: 128),
        GrassRound_GrassSharp_43: AtlasRect(x: 896, y: 1280, w: 128, h: 128),
        GrassRound_GrassSharp_44: AtlasRect(x: 512, y: 1408, w: 128, h: 128),
        GrassRound_GrassSharp_45: AtlasRect(x: 640, y: 1408, w: 128, h: 128),
        GrassRound_GrassSharp_46: AtlasRect(x: 768, y: 1408, w: 128, h: 128),
        GrassRound_GrassSharp_47: AtlasRect(x: 896, y: 1408, w: 128, h: 128),

        Land_GrassRound_0: AtlasRect(x: 0, y: 512, w: 128, h: 128),
        Land_GrassRound_1: AtlasRect(x: 128, y: 512, w: 128, h: 128),
        Land_GrassRound_2: AtlasRect(x: 256, y: 512, w: 128, h: 128),
        Land_GrassRound_3: AtlasRect(x: 384, y: 512, w: 128, h: 128),
        Land_GrassRound_4: AtlasRect(x: 0, y: 640, w: 128, h: 128),
        Land_GrassRound_5: AtlasRect(x: 128, y: 640, w: 128, h: 128),
        Land_GrassRound_6: AtlasRect(x: 256, y: 640, w: 128, h: 128),
        Land_GrassRound_7: AtlasRect(x: 384, y: 640, w: 128, h: 128),
        Land_GrassRound_8: AtlasRect(x: 0, y: 768, w: 128, h: 128),
        Land_GrassRound_9: AtlasRect(x: 128, y: 768, w: 128, h: 128),
        Land_GrassRound_10: AtlasRect(x: 256, y: 768, w: 128, h: 128),
        Land_GrassRound_11: AtlasRect(x: 384, y: 768, w: 128, h: 128),
        Land_GrassRound_12: AtlasRect(x: 0, y: 896, w: 128, h: 128),
        Land_GrassRound_13: AtlasRect(x: 128, y: 896, w: 128, h: 128),
        Land_GrassRound_14: AtlasRect(x: 256, y: 896, w: 128, h: 128),
        Land_GrassRound_15: AtlasRect(x: 384, y: 896, w: 128, h: 128),

        Land_GrassRound_16: AtlasRect(x: 1024, y: 512, w: 128, h: 128),
        Land_GrassRound_17: AtlasRect(x: 1152, y: 512, w: 128, h: 128),
        Land_GrassRound_18: AtlasRect(x: 1280, y: 512, w: 128, h: 128),
        Land_GrassRound_19: AtlasRect(x: 1408, y: 512, w: 128, h: 128),
        Land_GrassRound_20: AtlasRect(x: 1024, y: 640, w: 128, h: 128),
        Land_GrassRound_21: AtlasRect(x: 1152, y: 640, w: 128, h: 128),
        Land_GrassRound_22: AtlasRect(x: 1280, y: 640, w: 128, h: 128),
        Land_GrassRound_23: AtlasRect(x: 1408, y: 640, w: 128, h: 128),
        Land_GrassRound_24: AtlasRect(x: 1024, y: 768, w: 128, h: 128),
        Land_GrassRound_25: AtlasRect(x: 1152, y: 768, w: 128, h: 128),
        Land_GrassRound_26: AtlasRect(x: 1280, y: 768, w: 128, h: 128),
        Land_GrassRound_27: AtlasRect(x: 1408, y: 768, w: 128, h: 128),
        Land_GrassRound_28: AtlasRect(x: 1024, y: 896, w: 128, h: 128),
        Land_GrassRound_29: AtlasRect(x: 1152, y: 896, w: 128, h: 128),
        Land_GrassRound_30: AtlasRect(x: 1280, y: 896, w: 128, h: 128),
        Land_GrassRound_31: AtlasRect(x: 1408, y: 896, w: 128, h: 128),

        Land_GrassRound_32: AtlasRect(x: 0, y: 1536, w: 128, h: 128),
        Land_GrassRound_33: AtlasRect(x: 128, y: 1536, w: 128, h: 128),
        Land_GrassRound_34: AtlasRect(x: 256, y: 1536, w: 128, h: 128),
        Land_GrassRound_35: AtlasRect(x: 384, y: 1536, w: 128, h: 128),
        Land_GrassRound_36: AtlasRect(x: 0, y: 1664, w: 128, h: 128),
        Land_GrassRound_37: AtlasRect(x: 128, y: 1664, w: 128, h: 128),
        Land_GrassRound_38: AtlasRect(x: 256, y: 1664, w: 128, h: 128),
        Land_GrassRound_39: AtlasRect(x: 384, y: 1664, w: 128, h: 128),
        Land_GrassRound_40: AtlasRect(x: 0, y: 1792, w: 128, h: 128),
        Land_GrassRound_41: AtlasRect(x: 128, y: 1792, w: 128, h: 128),
        Land_GrassRound_42: AtlasRect(x: 256, y: 1792, w: 128, h: 128),
        Land_GrassRound_43: AtlasRect(x: 384, y: 1792, w: 128, h: 128),
        Land_GrassRound_44: AtlasRect(x: 0, y: 1920, w: 128, h: 128),
        Land_GrassRound_45: AtlasRect(x: 128, y: 1920, w: 128, h: 128),
        Land_GrassRound_46: AtlasRect(x: 256, y: 1920, w: 128, h: 128),
        Land_GrassRound_47: AtlasRect(x: 384, y: 1920, w: 128, h: 128),

        Land_Water_0: AtlasRect(x: 512, y: 512, w: 128, h: 128),
        Land_Water_1: AtlasRect(x: 640, y: 512, w: 128, h: 128),
        Land_Water_2: AtlasRect(x: 768, y: 512, w: 128, h: 128),
        Land_Water_3: AtlasRect(x: 896, y: 512, w: 128, h: 128),
        Land_Water_4: AtlasRect(x: 512, y: 640, w: 128, h: 128),
        Land_Water_5: AtlasRect(x: 640, y: 640, w: 128, h: 128),
        Land_Water_6: AtlasRect(x: 768, y: 640, w: 128, h: 128),
        Land_Water_7: AtlasRect(x: 896, y: 640, w: 128, h: 128),
        Land_Water_8: AtlasRect(x: 512, y: 768, w: 128, h: 128),
        Land_Water_9: AtlasRect(x: 640, y: 768, w: 128, h: 128),
        Land_Water_10: AtlasRect(x: 768, y: 768, w: 128, h: 128),
        Land_Water_11: AtlasRect(x: 896, y: 768, w: 128, h: 128),
        Land_Water_12: AtlasRect(x: 512, y: 896, w: 128, h: 128),
        Land_Water_13: AtlasRect(x: 640, y: 896, w: 128, h: 128),
        Land_Water_14: AtlasRect(x: 768, y: 896, w: 128, h: 128),
        Land_Water_15: AtlasRect(x: 896, y: 896, w: 128, h: 128),

        Land_Water_16: AtlasRect(x: 1536, y: 512, w: 128, h: 128),
        Land_Water_17: AtlasRect(x: 1664, y: 512, w: 128, h: 128),
        Land_Water_18: AtlasRect(x: 1792, y: 512, w: 128, h: 128),
        Land_Water_19: AtlasRect(x: 1920, y: 512, w: 128, h: 128),
        Land_Water_20: AtlasRect(x: 1536, y: 640, w: 128, h: 128),
        Land_Water_21: AtlasRect(x: 1664, y: 640, w: 128, h: 128),
        Land_Water_22: AtlasRect(x: 1792, y: 640, w: 128, h: 128),
        Land_Water_23: AtlasRect(x: 1920, y: 640, w: 128, h: 128),
        Land_Water_24: AtlasRect(x: 1536, y: 768, w: 128, h: 128),
        Land_Water_25: AtlasRect(x: 1664, y: 768, w: 128, h: 128),
        Land_Water_26: AtlasRect(x: 1792, y: 768, w: 128, h: 128),
        Land_Water_27: AtlasRect(x: 1920, y: 768, w: 128, h: 128),
        Land_Water_28: AtlasRect(x: 1536, y: 896, w: 128, h: 128),
        Land_Water_29: AtlasRect(x: 1664, y: 896, w: 128, h: 128),
        Land_Water_30: AtlasRect(x: 1792, y: 896, w: 128, h: 128),
        Land_Water_31: AtlasRect(x: 1920, y: 896, w: 128, h: 128),

        Land_Water_32: AtlasRect(x: 512, y: 1536, w: 128, h: 128),
        Land_Water_33: AtlasRect(x: 640, y: 1536, w: 128, h: 128),
        Land_Water_34: AtlasRect(x: 768, y: 1536, w: 128, h: 128),
        Land_Water_35: AtlasRect(x: 896, y: 1536, w: 128, h: 128),
        Land_Water_36: AtlasRect(x: 512, y: 1664, w: 128, h: 128),
        Land_Water_37: AtlasRect(x: 640, y: 1664, w: 128, h: 128),
        Land_Water_38: AtlasRect(x: 768, y: 1664, w: 128, h: 128),
        Land_Water_39: AtlasRect(x: 896, y: 1664, w: 128, h: 128),
        Land_Water_40: AtlasRect(x: 512, y: 1792, w: 128, h: 128),
        Land_Water_41: AtlasRect(x: 640, y: 1792, w: 128, h: 128),
        Land_Water_42: AtlasRect(x: 768, y: 1792, w: 128, h: 128),
        Land_Water_43: AtlasRect(x: 896, y: 1792, w: 128, h: 128),
        Land_Water_44: AtlasRect(x: 512, y: 1920, w: 128, h: 128),
        Land_Water_45: AtlasRect(x: 640, y: 1920, w: 128, h: 128),
        Land_Water_46: AtlasRect(x: 768, y: 1920, w: 128, h: 128),
        Land_Water_47: AtlasRect(x: 896, y: 1920, w: 128, h: 128),

        VerticalBridge_0: AtlasRect(x: 1024, y: 1024, w: 128, h: 128),
        VerticalBridge_1: AtlasRect(x: 1152, y: 1024, w: 128, h: 128),
        VerticalBridge_2: AtlasRect(x: 1280, y: 1024, w: 128, h: 128),
        VerticalBridge_3: AtlasRect(x: 1024, y: 1152, w: 128, h: 128),
        VerticalBridge_4: AtlasRect(x: 1152, y: 1152, w: 128, h: 128),
        VerticalBridge_5: AtlasRect(x: 1280, y: 1152, w: 128, h: 128),
        VerticalBridge_6: AtlasRect(x: 1024, y: 1280, w: 128, h: 128),
        VerticalBridge_7: AtlasRect(x: 1152, y: 1280, w: 128, h: 128),
        VerticalBridge_8: AtlasRect(x: 1280, y: 1280, w: 128, h: 128),

        HorizontalBridge_0: AtlasRect(x: 1408, y: 1024, w: 128, h: 128),
        HorizontalBridge_1: AtlasRect(x: 1536, y: 1024, w: 128, h: 128),
        HorizontalBridge_2: AtlasRect(x: 1664, y: 1024, w: 128, h: 128),
        HorizontalBridge_3: AtlasRect(x: 1408, y: 1152, w: 128, h: 128),
        HorizontalBridge_4: AtlasRect(x: 1536, y: 1152, w: 128, h: 128),
        HorizontalBridge_5: AtlasRect(x: 1664, y: 1152, w: 128, h: 128),
        HorizontalBridge_6: AtlasRect(x: 1408, y: 1280, w: 128, h: 128),
        HorizontalBridge_7: AtlasRect(x: 1536, y: 1280, w: 128, h: 128),
        HorizontalBridge_8: AtlasRect(x: 1664, y: 1280, w: 128, h: 128),

        Pine: AtlasRect (x: 1024, y: 1408, w: 256, h: 256),
        Oak: AtlasRect (x: 1280, y: 1408, w: 256, h: 256),
        Bush: AtlasRect (x: 1536, y: 1500, w: 256, h: 164),
        Stump: AtlasRect (x: 1852, y: 1600, w: 96, h: 64),
    }
)